.title{
    text-align: center;
    color: #202655;
    font-size: 15px;
    font-weight: 600;
    margin: 70px 0 30px ;
    text-transform: uppercase;
}    
.title h2{
    font-size: 32px;
    color: #000f38;
    margin-top: 5px;
    text-align: center;
    text-transform: none;
}             