.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.about-left {
  flex-basis: 40%;
  position: relative;
}
.about-right {
  flex-basis: 55%;
  /* content: attr(data-content); */
   text-align: justify;
  /* line-height: 1.7; */
  /* margin-bottom: 16px; */
  /* word-break: normal; */
  /* hyphens: auto; */
}
.about-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.about-video {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.video-container {
  position: relative;
}
.close-video {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.close-video:hover {
  background: rgba(0, 0, 0, 0.9);
}
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.video-modal {
  position: relative;
  max-width: 50%;
  max-height: 50%;
}
.modal-video {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}
.close-modal {
  position: absolute;
  top: -40px;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
}
.close-modal:hover {
  color: #ccc;
}
.play-img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.about h3 {
  font-weight: 600;
  font-weight: 16px;
  color: #212ea0;
}

.about h2 {
  font-size: 35px;
  margin: 10px 0;
  color: #000;
  max-width: 400px;
}
.about p {
  color: #555;
  margin-bottom: 15px;
}

/* media query */
@media (max-width: 80px) {
  .about {
    flex-direction: column;
  }
  .about-left {
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }
  .about-right {
    flex-basis: 100%;
  }
}
