.testimonials {
  margin: 80px;
  padding: 0 80px;
  position: relative;
}
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(24, 43, 214, 0.919);
}

.back-btn {
  left: 0;
  right: auto;
}

.slider {
  overflow: hidden;
}
.slider ul {
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: 0.5s;
  /* transform: translateX(-54%); */
}
.slider ul li {
  width: 50%;
  list-style: none;
  padding: 20px;
}
.slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 40px;
  border-radius: 10px;
  color: #646464;
  line-height: 1.4;
  background: #dfdff7;
}
.slide img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #181bd6;
}

.user-info h3 {
  color: #181bd6;
}

/* media query */
@media (max-width: 800px) {
  .testimonials {
    margin: 40px;
    padding: 0 40px;
  }
  .next-btn,
  .back-btn {
    padding: 10px;
    width: 35px;
  }
  .testimonials ul li {
    padding: 10px;
  }
  .slide {
    padding: 10px;
  }
  .slide img {
    width: 60px;
    border: 3px solid #212ea0;
  }
}
@media (max-width: 600px) {
  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .user-info h3 {
    font-size: 16px;
  }
  .slider p{
    font-size: 12px;
  }
}
